html {
	background: linear-gradient(to right, #bbbbbb, #eeeeee, #eeeeee, #bbbbbb);
	font-family: 'Josefin Sans', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 3px;
	color: #555555;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}


#navbar {
	width: 60%;
	margin-top: 5%;
	margin-left: 20%;
}

#navbar *{
	height: 80px;
}

#navbar p{
	height: auto;
	display: none;
	margin: 0;
}

#navbar a div {
	height: 20px;
}

#navbar table {
	height: 100%;
	width: 100%;
	table-layout: fixed;
}

#navbar td {
	text-align: center;
	cursor: pointer;
	margin: 2px;
}

#line-break {
	background: linear-gradient(to right, #00000000, #999999, #00000000);
	height: 1px;
	width: 100%;
}

#content {
	width: 50%;
	margin-left: 25%;
	margin-top: 50px;
}

#library {
	width: 90%;
	background: #ffffff00;
	margin-left: 5%;
	border-collapse: collapse;
	text-align: left;
	color: #000000aa;
	font-family: 'Josefin Sans', sans-serif;
}

#browse {
	padding-bottom: 60px;
}

#library tr{
	height:  40px;
}

#library th i{
	margin: 5px;
	display: none;
}

#library tr:hover:not(:first-child){
	background: #00000011;
}

.length-col {
	text-align: right;
}

#library td, #library th {
	padding-left: 10px;
	padding-right: 10px;
}

#library .action-col {
	width: 5%;
	cursor: pointer;
}

#library tr:first-child{
	border-bottom: 1px solid #00000033;
}

#library th{
	cursor: pointer;
}

#library .action-col i{
	display: none;
}

#library td{
	border: 0px;
}

#browse #song-dropdown {
	border: 1px #cccccc solid;
	background: #dddddd;
	width: 120px;
	color: #555555;
	position: absolute;
	display: none;
}

#song-dropdown ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#song-dropdown li {
	padding: 5px;
	cursor: pointer;
}

#song-dropdown li:hover {
	background: #bbbbbb;
}

#control table {
	width: 400px;
	margin-left: calc((100% - 400px)/2);
	table-layout: fixed;
}

#control table td {
	height: 100px;
	text-align: center;
}

#control table img {
	height: 100%;
	cursor: pointer;
}